@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:100%
}

.header, .footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.footer{
  background-color:#eee;
}



ul{
  list-style:none;
  padding: 20px ;
  margin: 0;
  display: flex;
  justify-content: start;
  gap: 20px;

}
a{
  text-decoration: none;
  color: grey;
}
a:hover{
  text-decoration: underline;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:10px ;
  margin:5px 10px;
  cursor: pointer;
  color:grey;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 10px;
}
